/Conexao.ini
*.exe
*.dcu
/__history/UGerarModel.pas.~102~
/__history/UGerarModel.pas.~103~
/__history/UGerarModel.pas.~104~
/__history/UGerarModel.pas.~105~
/__history/UGerarModel.pas.~100~
/__history/UGerarModel.pas.~101~
/__history/UGerarModel.pas.~106~
/__history/UGerarModel.pas.~107~
/__history/UGerarModel.pas.~108~
/__history/UGerarModel.pas.~99~
